figure {
	display: grid; /* in order { overflow-x: auto; } works in child <pre> */
}

pre,
pre code {
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.2;
	tab-size: 2;
	hyphens: none;
}

pre {
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-text-weak);
	border-radius: 5px;

	overflow-x: auto;
}

pre > code {
	float: left;
	min-width: 100%;
}

.code-line {
	padding-left: 12px;
	padding-right: 12px;
	margin-left: -12px;
	margin-right: -12px;
	border-left: 4px solid transparent; /* prepare for highlighted code-lines */
}

div.code-line:empty {
	/* it is necessary because there is no even eol character in div code-lines */
	height: 15.5938px; /* calculated height */
}

span.code-line {
	min-width: 100%;
	display: inline-block;
}

.code-line.inserted {
	background-color: var(
		--color-inserted-line
	); /* inserted code-line (+) color */
}

.code-line.deleted {
	background-color: var(--color-deleted-line); /* deleted code-line (-) color */
}

.highlighted-code-line {
	background-color: var(--color-highlighted-line);
	border-left: 4px solid var(--color-highlighted-line-indicator);
}

.numbered-code-line::before {
	content: attr(data-line-number);

	margin-left: -16px;
	margin-right: 24px;
	width: 1rem;
	color: var(--color-text-weak);
	text-align: right;

	display: inline-block;
}

pre code.hljs {
	padding: 0 1rem;
	background: none;
}

pre code.hljs .code-line {
	padding: 0 0 0 1rem;
}

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.hljs-comment,
.hljs-quote {
	color: #5c6370;
	font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
	color: #c678dd;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
	color: #e06c75;
}
.hljs-literal {
	color: #56b6c2;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
	color: #98c379;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
	color: #d19a66;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
	color: #61aeee;
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
	color: #e6c07b;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: bold;
}
.hljs-link {
	text-decoration: underline;
}
