@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: 18 18 18;
	--background-dark: 232 232 232;
	--background: 220 220 220;

	@apply bg-background text-foreground overscroll-y-none;
}

.dark {
	--foreground: 232 232 232;
	--background-dark: 18 18 18;
	--background: 34 34 34;
}

a,
button,
pre {
	cursor: none;
}

@layer components {
	.bg-grainy::before,
	.bg-grainy::after {
		position: fixed;
		inset: 0;
		content: '';
		z-index: -1;

		opacity: 40%;
	}

	.bg-grainy::before {
		background: #d9d9d9;
		filter: url(#noiseFilter-light);
	}

	.dark .bg-grainy::before {
		@apply bg-background-dark;
		filter: url(#noiseFilter-dark);
	}

	.bg-not-grainy::before {
		@apply !bg-transparent !filter-none;
	}

	.pixelated {
		image-rendering: pixelated;
		image-rendering: -moz-crisp-edges;
		image-rendering: crisp-edges;
	}
}
