body::before,
body::after {
	position: fixed;
	inset: 0;
	content: '';
	z-index: -1;

	opacity: 40%;
}

body::before {
	background: #d9d9d9;
	filter: url(#noiseFilter-light);
}

.dark body::before {
	background: var(--background);
	filter: url(#noiseFilter-dark);
}
