.stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow:
		476px 1434px #fff,
		1123px 1776px #fff,
		96px 819px #fff,
		1681px 67px #fff,
		194px 1099px #fff,
		1152px 1140px #fff,
		1596px 300px #fff,
		332px 851px #fff,
		1397px 1306px #fff,
		750px 1324px #fff,
		817px 664px #fff,
		1248px 965px #fff,
		1954px 1930px #fff,
		1241px 1727px #fff,
		788px 399px #fff,
		753px 605px #fff,
		1705px 176px #fff,
		1734px 293px #fff,
		803px 1349px #fff,
		1101px 906px #fff,
		1794px 1901px #fff,
		565px 1548px #fff,
		942px 1121px #fff,
		429px 487px #fff,
		908px 1017px #fff,
		1316px 1134px #fff,
		319px 219px #fff,
		1620px 602px #fff,
		123px 174px #fff,
		1009px 1127px #fff,
		295px 1881px #fff,
		793px 407px #fff,
		1578px 460px #fff,
		1022px 1710px #fff,
		1309px 1202px #fff,
		1244px 488px #fff,
		785px 694px #fff,
		439px 1253px #fff,
		1029px 1857px #fff,
		823px 1495px #fff,
		1976px 1944px #fff,
		675px 572px #fff,
		1887px 1370px #fff,
		1368px 605px #fff,
		177px 43px #fff,
		208px 766px #fff,
		217px 274px #fff,
		799px 674px #fff,
		1590px 1197px #fff,
		1605px 1723px #fff,
		1236px 697px #fff,
		1488px 1888px #fff,
		698px 225px #fff,
		800px 1597px #fff,
		148px 1727px #fff,
		833px 942px #fff,
		1951px 1452px #fff,
		891px 919px #fff,
		1265px 94px #fff,
		703px 623px #fff,
		1643px 92px #fff,
		1003px 794px #fff,
		642px 856px #fff,
		484px 1661px #fff,
		944px 1247px #fff,
		790px 439px #fff,
		456px 421px #fff,
		1076px 1633px #fff,
		1712px 1525px #fff,
		257px 1245px #fff,
		1067px 4px #fff,
		704px 1229px #fff,
		1218px 608px #fff,
		1672px 1950px #fff,
		1608px 940px #fff,
		1720px 1659px #fff,
		154px 853px #fff,
		412px 1048px #fff,
		1189px 613px #fff,
		43px 1889px #fff,
		1538px 1608px #fff,
		1545px 1900px #fff,
		1573px 1323px #fff,
		1675px 264px #fff,
		574px 1086px #fff,
		909px 320px #fff,
		1600px 1241px #fff,
		1725px 288px #fff,
		994px 428px #fff,
		1040px 651px #fff,
		1884px 1468px #fff,
		1374px 537px #fff,
		233px 1910px #fff,
		192px 43px #fff,
		1961px 8px #fff,
		574px 993px #fff,
		126px 19px #fff,
		384px 981px #fff,
		243px 745px #fff,
		854px 1065px #fff,
		1791px 759px #fff,
		25px 690px #fff,
		1551px 1418px #fff,
		468px 1194px #fff,
		431px 59px #fff,
		906px 910px #fff,
		641px 1001px #fff,
		1415px 1895px #fff,
		1821px 1786px #fff,
		1255px 840px #fff,
		792px 1063px #fff,
		886px 1111px #fff,
		1804px 1679px #fff,
		1265px 529px #fff,
		1434px 1785px #fff,
		1829px 536px #fff,
		478px 1809px #fff,
		1910px 592px #fff,
		288px 1813px #fff,
		1594px 74px #fff,
		1117px 526px #fff,
		1028px 1204px #fff,
		244px 391px #fff,
		447px 127px #fff,
		1149px 487px #fff,
		622px 1050px #fff,
		18px 213px #fff,
		1577px 1364px #fff,
		1349px 1399px #fff,
		71px 27px #fff,
		243px 421px #fff,
		1493px 1312px #fff,
		1379px 47px #fff,
		1342px 1444px #fff,
		1691px 1798px #fff,
		715px 1836px #fff,
		94px 306px #fff,
		591px 1857px #fff,
		246px 1725px #fff,
		525px 154px #fff,
		1705px 125px #fff,
		1456px 1569px #fff,
		1088px 1785px #fff,
		328px 1336px #fff,
		1738px 309px #fff,
		217px 571px #fff,
		1286px 335px #fff,
		1903px 1174px #fff,
		1083px 379px #fff,
		1083px 579px #fff,
		631px 651px #fff,
		441px 1013px #fff,
		643px 1711px #fff,
		1196px 208px #fff,
		1204px 794px #fff,
		1384px 1458px #fff,
		224px 100px #fff,
		1533px 888px #fff,
		549px 142px #fff,
		1417px 505px #fff,
		221px 860px #fff,
		1870px 1128px #fff,
		12px 296px #fff,
		378px 1746px #fff,
		662px 1633px #fff,
		345px 1027px #fff,
		879px 63px #fff,
		411px 1892px #fff,
		833px 1321px #fff,
		469px 245px #fff,
		1996px 219px #fff,
		318px 27px #fff,
		27px 1960px #fff,
		338px 99px #fff,
		636px 1949px #fff,
		259px 118px #fff,
		930px 766px #fff,
		1737px 1203px #fff,
		1260px 928px #fff,
		1140px 1770px #fff,
		130px 1002px #fff,
		327px 198px #fff,
		1435px 1692px #fff,
		1443px 790px #fff,
		606px 979px #fff,
		873px 533px #fff,
		1185px 1114px #fff,
		1625px 334px #fff,
		974px 1646px #fff,
		664px 682px #fff,
		1000px 1360px #fff,
		1127px 1085px #fff,
		1244px 249px #fff,
		1873px 1059px #fff,
		559px 1513px #fff,
		828px 906px #fff,
		1989px 1237px #fff,
		1178px 1602px #fff,
		758px 141px #fff,
		1927px 1303px #fff,
		1157px 1569px #fff,
		580px 977px #fff,
		1099px 112px #fff,
		451px 348px #fff,
		1935px 1497px #fff,
		670px 1371px #fff,
		1260px 59px #fff,
		751px 933px #fff,
		372px 621px #fff,
		1942px 1626px #fff,
		1722px 1113px #fff,
		1388px 647px #fff,
		321px 1500px #fff,
		618px 1897px #fff,
		1701px 321px #fff,
		687px 1692px #fff,
		839px 502px #fff,
		71px 260px #fff,
		11px 1240px #fff,
		1005px 1787px #fff,
		17px 621px #fff,
		1761px 114px #fff,
		1158px 1817px #fff,
		1484px 1625px #fff,
		1215px 941px #fff,
		550px 1866px #fff,
		196px 1774px #fff,
		1894px 11px #fff,
		627px 90px #fff,
		81px 1155px #fff,
		996px 417px #fff,
		1868px 1443px #fff,
		108px 207px #fff,
		421px 193px #fff,
		728px 1427px #fff,
		679px 1149px #fff,
		1308px 600px #fff,
		939px 803px #fff,
		1278px 1496px #fff,
		453px 398px #fff,
		406px 336px #fff,
		913px 505px #fff,
		395px 882px #fff,
		1255px 600px #fff,
		1480px 1066px #fff,
		47px 1737px #fff,
		820px 1370px #fff,
		1134px 1205px #fff,
		1671px 1485px #fff,
		1598px 1460px #fff,
		1961px 1221px #fff,
		1182px 810px #fff,
		466px 1479px #fff,
		868px 762px #fff,
		1426px 571px #fff,
		388px 294px #fff,
		159px 1442px #fff,
		361px 1604px #fff,
		288px 1512px #fff,
		934px 1531px #fff,
		156px 698px #fff,
		1133px 838px #fff,
		468px 684px #fff,
		354px 1690px #fff,
		670px 464px #fff,
		516px 1982px #fff,
		1576px 1680px #fff,
		883px 567px #fff,
		133px 128px #fff,
		667px 1673px #fff,
		1045px 1550px #fff,
		254px 1104px #fff,
		1200px 854px #fff,
		1278px 242px #fff,
		573px 1048px #fff,
		1451px 91px #fff,
		588px 757px #fff,
		1234px 43px #fff,
		468px 158px #fff,
		986px 239px #fff,
		842px 1900px #fff,
		1147px 869px #fff,
		1163px 821px #fff,
		1961px 1685px #fff,
		375px 450px #fff,
		313px 1127px #fff,
		1458px 999px #fff,
		423px 740px #fff,
		366px 899px #fff,
		260px 1115px #fff,
		818px 1318px #fff,
		997px 7px #fff,
		1928px 1887px #fff,
		824px 717px #fff,
		1270px 1196px #fff,
		1885px 570px #fff,
		987px 1013px #fff,
		276px 1543px #fff,
		847px 281px #fff,
		999px 442px #fff,
		239px 130px #fff,
		1017px 1957px #fff,
		1659px 131px #fff,
		1906px 609px #fff,
		1738px 1839px #fff,
		1610px 1247px #fff,
		1462px 1364px #fff,
		228px 613px #fff,
		1231px 1077px #fff,
		710px 196px #fff,
		1255px 1633px #fff,
		1301px 874px #fff,
		1564px 1901px #fff,
		69px 460px #fff,
		1501px 1677px #fff,
		759px 886px #fff,
		746px 852px #fff,
		1171px 1716px #fff,
		50px 905px #fff,
		1418px 1349px #fff,
		1970px 1225px #fff,
		475px 1317px #fff,
		782px 757px #fff,
		739px 1814px #fff,
		245px 510px #fff,
		1642px 794px #fff,
		1550px 566px #fff,
		1373px 1089px #fff,
		732px 148px #fff,
		224px 1509px #fff,
		1301px 574px #fff,
		858px 1221px #fff,
		694px 1046px #fff,
		1920px 271px #fff,
		428px 806px #fff,
		46px 1398px #fff,
		1462px 1247px #fff,
		407px 1658px #fff,
		1567px 1441px #fff,
		1329px 427px #fff,
		1933px 1387px #fff,
		189px 9px #fff,
		1894px 988px #fff,
		474px 809px #fff,
		646px 129px #fff,
		1268px 20px #fff,
		646px 419px #fff,
		977px 1518px #fff,
		1882px 93px #fff,
		1142px 1961px #fff,
		1971px 746px #fff,
		64px 1741px #fff,
		326px 1191px #fff,
		1320px 1794px #fff,
		779px 1709px #fff,
		668px 1729px #fff,
		1237px 482px #fff,
		903px 609px #fff,
		3px 138px #fff,
		372px 1675px #fff,
		1968px 114px #fff,
		376px 1428px #fff,
		1934px 1158px #fff,
		1660px 707px #fff,
		1874px 132px #fff,
		776px 1214px #fff,
		78px 146px #fff,
		1452px 118px #fff,
		1024px 755px #fff,
		375px 661px #fff,
		698px 1390px #fff,
		1143px 344px #fff,
		1941px 1584px #fff,
		1918px 1368px #fff,
		1315px 1990px #fff,
		409px 614px #fff,
		228px 1615px #fff,
		1741px 4px #fff,
		1914px 52px #fff,
		1509px 694px #fff,
		1881px 1147px #fff,
		973px 1269px #fff,
		1118px 1394px #fff,
		228px 828px #fff,
		1896px 1269px #fff,
		406px 681px #fff,
		53px 773px #fff,
		1139px 115px #fff,
		154px 25px #fff,
		1878px 1202px #fff,
		1654px 1283px #fff,
		986px 95px #fff,
		341px 190px #fff,
		747px 893px #fff,
		998px 1885px #fff,
		1140px 1302px #fff,
		1863px 154px #fff,
		632px 1887px #fff,
		783px 910px #fff,
		862px 492px #fff,
		867px 607px #fff,
		1431px 1430px #fff,
		1949px 1342px #fff,
		1711px 1184px #fff,
		1506px 1650px #fff,
		256px 1833px #fff,
		1056px 1280px #fff,
		482px 396px #fff,
		1295px 789px #fff,
		1725px 1893px #fff,
		1721px 234px #fff,
		1945px 1930px #fff,
		1584px 180px #fff,
		352px 224px #fff,
		1706px 27px #fff,
		1123px 744px #fff,
		1951px 583px #fff,
		294px 1542px #fff,
		879px 86px #fff,
		951px 840px #fff,
		644px 1556px #fff,
		1062px 67px #fff,
		1347px 801px #fff,
		8px 287px #fff,
		1613px 177px #fff,
		619px 1211px #fff,
		1510px 1774px #fff,
		1016px 1936px #fff,
		519px 282px #fff,
		1985px 892px #fff,
		887px 917px #fff,
		428px 197px #fff,
		1825px 363px #fff,
		466px 1922px #fff,
		555px 880px #fff,
		1885px 1705px #fff,
		1047px 1675px #fff,
		374px 1863px #fff,
		318px 555px #fff,
		275px 1836px #fff,
		1344px 1793px #fff,
		1686px 1295px #fff,
		1381px 1709px #fff,
		1806px 688px #fff,
		955px 1510px #fff,
		546px 715px #fff,
		228px 1922px #fff,
		931px 1724px #fff,
		786px 1413px #fff,
		562px 902px #fff,
		1423px 1444px #fff,
		546px 339px #fff,
		1947px 1908px #fff,
		1284px 1306px #fff,
		1819px 1876px #fff,
		1758px 19px #fff,
		1284px 851px #fff,
		1246px 1398px #fff,
		391px 50px #fff,
		761px 469px #fff,
		1748px 1935px #fff,
		922px 243px #fff,
		1814px 633px #fff,
		429px 489px #fff,
		102px 1585px #fff,
		1300px 1610px #fff,
		1450px 434px #fff,
		543px 1609px #fff,
		1744px 219px #fff,
		1771px 851px #fff,
		868px 1300px #fff,
		393px 857px #fff,
		373px 1387px #fff,
		553px 86px #fff,
		825px 398px #fff,
		460px 1749px #fff,
		878px 170px #fff,
		255px 1611px #fff,
		1700px 1956px #fff,
		1342px 712px #fff,
		572px 1687px #fff,
		1390px 1015px #fff,
		1434px 291px #fff,
		490px 1207px #fff,
		1911px 1072px #fff,
		1618px 1305px #fff,
		93px 1025px #fff,
		1807px 803px #fff,
		1886px 587px #fff,
		950px 1595px #fff,
		483px 1546px #fff,
		1344px 603px #fff,
		1397px 1151px #fff,
		1555px 466px #fff,
		426px 1098px #fff,
		829px 1776px #fff,
		1581px 478px #fff,
		88px 1310px #fff,
		822px 1548px #fff,
		177px 1630px #fff,
		508px 1842px #fff,
		1012px 347px #fff,
		1312px 1060px #fff,
		295px 92px #fff,
		1335px 742px #fff,
		1348px 808px #fff,
		1030px 297px #fff,
		1112px 1455px #fff,
		685px 1324px #fff,
		553px 13px #fff,
		278px 785px #fff,
		154px 1379px #fff,
		1080px 1866px #fff,
		1400px 1029px #fff,
		1000px 107px #fff,
		750px 1747px #fff,
		687px 851px #fff,
		392px 1174px #fff,
		1462px 1369px #fff,
		1972px 1558px #fff,
		387px 698px #fff,
		911px 555px #fff,
		1994px 614px #fff,
		75px 1898px #fff,
		981px 1111px #fff,
		228px 1901px #fff,
		1980px 716px #fff,
		135px 582px #fff,
		1890px 1026px #fff,
		1221px 810px #fff,
		1669px 717px #fff,
		1074px 941px #fff,
		269px 1349px #fff,
		222px 32px #fff,
		1438px 966px #fff,
		1945px 102px #fff,
		1008px 1887px #fff,
		404px 671px #fff,
		1452px 716px #fff,
		935px 347px #fff,
		1672px 846px #fff,
		1485px 1801px #fff,
		629px 246px #fff,
		376px 1556px #fff,
		628px 849px #fff,
		511px 434px #fff,
		333px 1815px #fff,
		1027px 563px #fff,
		1663px 1474px #fff,
		103px 124px #fff,
		996px 242px #fff,
		493px 271px #fff,
		490px 1894px #fff,
		561px 1984px #fff,
		1850px 876px #fff,
		766px 1588px #fff,
		804px 1948px #fff,
		1559px 154px #fff,
		758px 1005px #fff,
		657px 383px #fff,
		52px 1547px #fff,
		789px 1949px #fff,
		1139px 71px #fff,
		1151px 1145px #fff,
		363px 1816px #fff,
		1929px 1125px #fff,
		1648px 386px #fff,
		411px 1365px #fff,
		1244px 160px #fff,
		689px 1691px #fff,
		545px 846px #fff,
		1325px 648px #fff,
		498px 1528px #fff,
		1549px 1468px #fff,
		1589px 77px #fff,
		644px 1883px #fff,
		75px 470px #fff,
		925px 954px #fff,
		591px 889px #fff,
		1926px 108px #fff,
		1567px 1547px #fff,
		596px 362px #fff,
		1885px 723px #fff,
		135px 671px #fff,
		178px 1929px #fff,
		1748px 658px #fff,
		1504px 625px #fff,
		1806px 1781px #fff,
		1462px 1014px #fff,
		1373px 1402px #fff,
		802px 496px #fff,
		1612px 1731px #fff,
		1035px 458px #fff,
		1555px 543px #fff,
		818px 1344px #fff,
		1526px 1253px #fff,
		1552px 1391px #fff,
		679px 691px #fff,
		960px 1654px #fff,
		384px 181px #fff,
		823px 1579px #fff,
		446px 112px #fff,
		795px 536px #fff,
		1153px 44px #fff,
		879px 1437px #fff,
		1539px 1672px #fff,
		1553px 110px #fff,
		1993px 847px #fff,
		275px 1258px #fff,
		638px 1927px #fff,
		191px 838px #fff,
		700px 1109px #fff,
		407px 1162px #fff,
		382px 650px #fff,
		908px 1729px #fff,
		1681px 1288px #fff,
		1591px 1134px #fff,
		1343px 1945px #fff,
		298px 891px #fff,
		590px 1996px #fff,
		1079px 1712px #fff,
		94px 915px #fff,
		682px 1417px #fff,
		1311px 179px #fff,
		967px 1717px #fff,
		1680px 2000px #fff,
		962px 631px #fff,
		1755px 262px #fff,
		1305px 950px #fff,
		1290px 1811px #fff,
		977px 1874px #fff,
		251px 300px #fff,
		936px 71px #fff,
		1870px 883px #fff,
		14px 1238px #fff,
		626px 763px #fff,
		130px 437px #fff,
		1692px 1819px #fff,
		556px 741px #fff,
		1482px 50px #fff,
		1493px 1214px #fff,
		1042px 609px #fff,
		1096px 1559px #fff,
		1744px 1553px #fff,
		1974px 968px #fff,
		1677px 763px #fff,
		1947px 652px #fff,
		541px 1507px #fff,
		1719px 1070px #fff,
		1px 1322px #fff,
		237px 1633px #fff,
		759px 703px #fff,
		356px 598px #fff,
		958px 1387px #fff,
		1025px 668px #fff,
		474px 1883px #fff,
		1942px 1112px #fff,
		948px 1353px #fff,
		127px 1404px #fff,
		1764px 845px #fff,
		1387px 41px #fff,
		1187px 1064px #fff,
		500px 1140px #fff,
		1392px 341px #fff,
		3px 1653px #fff,
		486px 1432px #fff,
		741px 1540px #fff,
		140px 1022px #fff,
		530px 1054px #fff,
		1203px 1535px #fff,
		1624px 1756px #fff,
		1048px 1816px #fff,
		105px 323px #fff,
		1442px 85px #fff,
		99px 33px #fff,
		640px 941px #fff,
		55px 1912px #fff,
		830px 87px #fff,
		359px 704px #fff,
		311px 1036px #fff,
		517px 437px #fff,
		1436px 1928px #fff,
		174px 762px #fff,
		1499px 156px #fff,
		137px 300px #fff,
		1019px 1487px #fff,
		204px 390px #fff,
		562px 628px #fff,
		1894px 352px #fff,
		1047px 427px #fff,
		1279px 1897px #fff,
		581px 1023px #fff,
		1317px 1983px #fff,
		1419px 1957px #fff,
		476px 149px #fff,
		1555px 988px #fff,
		891px 176px #fff,
		1625px 1098px #fff,
		306px 1427px #fff,
		1899px 999px #fff;
}
.stars:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow:
		476px 1434px #fff,
		1123px 1776px #fff,
		96px 819px #fff,
		1681px 67px #fff,
		194px 1099px #fff,
		1152px 1140px #fff,
		1596px 300px #fff,
		332px 851px #fff,
		1397px 1306px #fff,
		750px 1324px #fff,
		817px 664px #fff,
		1248px 965px #fff,
		1954px 1930px #fff,
		1241px 1727px #fff,
		788px 399px #fff,
		753px 605px #fff,
		1705px 176px #fff,
		1734px 293px #fff,
		803px 1349px #fff,
		1101px 906px #fff,
		1794px 1901px #fff,
		565px 1548px #fff,
		942px 1121px #fff,
		429px 487px #fff,
		908px 1017px #fff,
		1316px 1134px #fff,
		319px 219px #fff,
		1620px 602px #fff,
		123px 174px #fff,
		1009px 1127px #fff,
		295px 1881px #fff,
		793px 407px #fff,
		1578px 460px #fff,
		1022px 1710px #fff,
		1309px 1202px #fff,
		1244px 488px #fff,
		785px 694px #fff,
		439px 1253px #fff,
		1029px 1857px #fff,
		823px 1495px #fff,
		1976px 1944px #fff,
		675px 572px #fff,
		1887px 1370px #fff,
		1368px 605px #fff,
		177px 43px #fff,
		208px 766px #fff,
		217px 274px #fff,
		799px 674px #fff,
		1590px 1197px #fff,
		1605px 1723px #fff,
		1236px 697px #fff,
		1488px 1888px #fff,
		698px 225px #fff,
		800px 1597px #fff,
		148px 1727px #fff,
		833px 942px #fff,
		1951px 1452px #fff,
		891px 919px #fff,
		1265px 94px #fff,
		703px 623px #fff,
		1643px 92px #fff,
		1003px 794px #fff,
		642px 856px #fff,
		484px 1661px #fff,
		944px 1247px #fff,
		790px 439px #fff,
		456px 421px #fff,
		1076px 1633px #fff,
		1712px 1525px #fff,
		257px 1245px #fff,
		1067px 4px #fff,
		704px 1229px #fff,
		1218px 608px #fff,
		1672px 1950px #fff,
		1608px 940px #fff,
		1720px 1659px #fff,
		154px 853px #fff,
		412px 1048px #fff,
		1189px 613px #fff,
		43px 1889px #fff,
		1538px 1608px #fff,
		1545px 1900px #fff,
		1573px 1323px #fff,
		1675px 264px #fff,
		574px 1086px #fff,
		909px 320px #fff,
		1600px 1241px #fff,
		1725px 288px #fff,
		994px 428px #fff,
		1040px 651px #fff,
		1884px 1468px #fff,
		1374px 537px #fff,
		233px 1910px #fff,
		192px 43px #fff,
		1961px 8px #fff,
		574px 993px #fff,
		126px 19px #fff,
		384px 981px #fff,
		243px 745px #fff,
		854px 1065px #fff,
		1791px 759px #fff,
		25px 690px #fff,
		1551px 1418px #fff,
		468px 1194px #fff,
		431px 59px #fff,
		906px 910px #fff,
		641px 1001px #fff,
		1415px 1895px #fff,
		1821px 1786px #fff,
		1255px 840px #fff,
		792px 1063px #fff,
		886px 1111px #fff,
		1804px 1679px #fff,
		1265px 529px #fff,
		1434px 1785px #fff,
		1829px 536px #fff,
		478px 1809px #fff,
		1910px 592px #fff,
		288px 1813px #fff,
		1594px 74px #fff,
		1117px 526px #fff,
		1028px 1204px #fff,
		244px 391px #fff,
		447px 127px #fff,
		1149px 487px #fff,
		622px 1050px #fff,
		18px 213px #fff,
		1577px 1364px #fff,
		1349px 1399px #fff,
		71px 27px #fff,
		243px 421px #fff,
		1493px 1312px #fff,
		1379px 47px #fff,
		1342px 1444px #fff,
		1691px 1798px #fff,
		715px 1836px #fff,
		94px 306px #fff,
		591px 1857px #fff,
		246px 1725px #fff,
		525px 154px #fff,
		1705px 125px #fff,
		1456px 1569px #fff,
		1088px 1785px #fff,
		328px 1336px #fff,
		1738px 309px #fff,
		217px 571px #fff,
		1286px 335px #fff,
		1903px 1174px #fff,
		1083px 379px #fff,
		1083px 579px #fff,
		631px 651px #fff,
		441px 1013px #fff,
		643px 1711px #fff,
		1196px 208px #fff,
		1204px 794px #fff,
		1384px 1458px #fff,
		224px 100px #fff,
		1533px 888px #fff,
		549px 142px #fff,
		1417px 505px #fff,
		221px 860px #fff,
		1870px 1128px #fff,
		12px 296px #fff,
		378px 1746px #fff,
		662px 1633px #fff,
		345px 1027px #fff,
		879px 63px #fff,
		411px 1892px #fff,
		833px 1321px #fff,
		469px 245px #fff,
		1996px 219px #fff,
		318px 27px #fff,
		27px 1960px #fff,
		338px 99px #fff,
		636px 1949px #fff,
		259px 118px #fff,
		930px 766px #fff,
		1737px 1203px #fff,
		1260px 928px #fff,
		1140px 1770px #fff,
		130px 1002px #fff,
		327px 198px #fff,
		1435px 1692px #fff,
		1443px 790px #fff,
		606px 979px #fff,
		873px 533px #fff,
		1185px 1114px #fff,
		1625px 334px #fff,
		974px 1646px #fff,
		664px 682px #fff,
		1000px 1360px #fff,
		1127px 1085px #fff,
		1244px 249px #fff,
		1873px 1059px #fff,
		559px 1513px #fff,
		828px 906px #fff,
		1989px 1237px #fff,
		1178px 1602px #fff,
		758px 141px #fff,
		1927px 1303px #fff,
		1157px 1569px #fff,
		580px 977px #fff,
		1099px 112px #fff,
		451px 348px #fff,
		1935px 1497px #fff,
		670px 1371px #fff,
		1260px 59px #fff,
		751px 933px #fff,
		372px 621px #fff,
		1942px 1626px #fff,
		1722px 1113px #fff,
		1388px 647px #fff,
		321px 1500px #fff,
		618px 1897px #fff,
		1701px 321px #fff,
		687px 1692px #fff,
		839px 502px #fff,
		71px 260px #fff,
		11px 1240px #fff,
		1005px 1787px #fff,
		17px 621px #fff,
		1761px 114px #fff,
		1158px 1817px #fff,
		1484px 1625px #fff,
		1215px 941px #fff,
		550px 1866px #fff,
		196px 1774px #fff,
		1894px 11px #fff,
		627px 90px #fff,
		81px 1155px #fff,
		996px 417px #fff,
		1868px 1443px #fff,
		108px 207px #fff,
		421px 193px #fff,
		728px 1427px #fff,
		679px 1149px #fff,
		1308px 600px #fff,
		939px 803px #fff,
		1278px 1496px #fff,
		453px 398px #fff,
		406px 336px #fff,
		913px 505px #fff,
		395px 882px #fff,
		1255px 600px #fff,
		1480px 1066px #fff,
		47px 1737px #fff,
		820px 1370px #fff,
		1134px 1205px #fff,
		1671px 1485px #fff,
		1598px 1460px #fff,
		1961px 1221px #fff,
		1182px 810px #fff,
		466px 1479px #fff,
		868px 762px #fff,
		1426px 571px #fff,
		388px 294px #fff,
		159px 1442px #fff,
		361px 1604px #fff,
		288px 1512px #fff,
		934px 1531px #fff,
		156px 698px #fff,
		1133px 838px #fff,
		468px 684px #fff,
		354px 1690px #fff,
		670px 464px #fff,
		516px 1982px #fff,
		1576px 1680px #fff,
		883px 567px #fff,
		133px 128px #fff,
		667px 1673px #fff,
		1045px 1550px #fff,
		254px 1104px #fff,
		1200px 854px #fff,
		1278px 242px #fff,
		573px 1048px #fff,
		1451px 91px #fff,
		588px 757px #fff,
		1234px 43px #fff,
		468px 158px #fff,
		986px 239px #fff,
		842px 1900px #fff,
		1147px 869px #fff,
		1163px 821px #fff,
		1961px 1685px #fff,
		375px 450px #fff,
		313px 1127px #fff,
		1458px 999px #fff,
		423px 740px #fff,
		366px 899px #fff,
		260px 1115px #fff,
		818px 1318px #fff,
		997px 7px #fff,
		1928px 1887px #fff,
		824px 717px #fff,
		1270px 1196px #fff,
		1885px 570px #fff,
		987px 1013px #fff,
		276px 1543px #fff,
		847px 281px #fff,
		999px 442px #fff,
		239px 130px #fff,
		1017px 1957px #fff,
		1659px 131px #fff,
		1906px 609px #fff,
		1738px 1839px #fff,
		1610px 1247px #fff,
		1462px 1364px #fff,
		228px 613px #fff,
		1231px 1077px #fff,
		710px 196px #fff,
		1255px 1633px #fff,
		1301px 874px #fff,
		1564px 1901px #fff,
		69px 460px #fff,
		1501px 1677px #fff,
		759px 886px #fff,
		746px 852px #fff,
		1171px 1716px #fff,
		50px 905px #fff,
		1418px 1349px #fff,
		1970px 1225px #fff,
		475px 1317px #fff,
		782px 757px #fff,
		739px 1814px #fff,
		245px 510px #fff,
		1642px 794px #fff,
		1550px 566px #fff,
		1373px 1089px #fff,
		732px 148px #fff,
		224px 1509px #fff,
		1301px 574px #fff,
		858px 1221px #fff,
		694px 1046px #fff,
		1920px 271px #fff,
		428px 806px #fff,
		46px 1398px #fff,
		1462px 1247px #fff,
		407px 1658px #fff,
		1567px 1441px #fff,
		1329px 427px #fff,
		1933px 1387px #fff,
		189px 9px #fff,
		1894px 988px #fff,
		474px 809px #fff,
		646px 129px #fff,
		1268px 20px #fff,
		646px 419px #fff,
		977px 1518px #fff,
		1882px 93px #fff,
		1142px 1961px #fff,
		1971px 746px #fff,
		64px 1741px #fff,
		326px 1191px #fff,
		1320px 1794px #fff,
		779px 1709px #fff,
		668px 1729px #fff,
		1237px 482px #fff,
		903px 609px #fff,
		3px 138px #fff,
		372px 1675px #fff,
		1968px 114px #fff,
		376px 1428px #fff,
		1934px 1158px #fff,
		1660px 707px #fff,
		1874px 132px #fff,
		776px 1214px #fff,
		78px 146px #fff,
		1452px 118px #fff,
		1024px 755px #fff,
		375px 661px #fff,
		698px 1390px #fff,
		1143px 344px #fff,
		1941px 1584px #fff,
		1918px 1368px #fff,
		1315px 1990px #fff,
		409px 614px #fff,
		228px 1615px #fff,
		1741px 4px #fff,
		1914px 52px #fff,
		1509px 694px #fff,
		1881px 1147px #fff,
		973px 1269px #fff,
		1118px 1394px #fff,
		228px 828px #fff,
		1896px 1269px #fff,
		406px 681px #fff,
		53px 773px #fff,
		1139px 115px #fff,
		154px 25px #fff,
		1878px 1202px #fff,
		1654px 1283px #fff,
		986px 95px #fff,
		341px 190px #fff,
		747px 893px #fff,
		998px 1885px #fff,
		1140px 1302px #fff,
		1863px 154px #fff,
		632px 1887px #fff,
		783px 910px #fff,
		862px 492px #fff,
		867px 607px #fff,
		1431px 1430px #fff,
		1949px 1342px #fff,
		1711px 1184px #fff,
		1506px 1650px #fff,
		256px 1833px #fff,
		1056px 1280px #fff,
		482px 396px #fff,
		1295px 789px #fff,
		1725px 1893px #fff,
		1721px 234px #fff,
		1945px 1930px #fff,
		1584px 180px #fff,
		352px 224px #fff,
		1706px 27px #fff,
		1123px 744px #fff,
		1951px 583px #fff,
		294px 1542px #fff,
		879px 86px #fff,
		951px 840px #fff,
		644px 1556px #fff,
		1062px 67px #fff,
		1347px 801px #fff,
		8px 287px #fff,
		1613px 177px #fff,
		619px 1211px #fff,
		1510px 1774px #fff,
		1016px 1936px #fff,
		519px 282px #fff,
		1985px 892px #fff,
		887px 917px #fff,
		428px 197px #fff,
		1825px 363px #fff,
		466px 1922px #fff,
		555px 880px #fff,
		1885px 1705px #fff,
		1047px 1675px #fff,
		374px 1863px #fff,
		318px 555px #fff,
		275px 1836px #fff,
		1344px 1793px #fff,
		1686px 1295px #fff,
		1381px 1709px #fff,
		1806px 688px #fff,
		955px 1510px #fff,
		546px 715px #fff,
		228px 1922px #fff,
		931px 1724px #fff,
		786px 1413px #fff,
		562px 902px #fff,
		1423px 1444px #fff,
		546px 339px #fff,
		1947px 1908px #fff,
		1284px 1306px #fff,
		1819px 1876px #fff,
		1758px 19px #fff,
		1284px 851px #fff,
		1246px 1398px #fff,
		391px 50px #fff,
		761px 469px #fff,
		1748px 1935px #fff,
		922px 243px #fff,
		1814px 633px #fff,
		429px 489px #fff,
		102px 1585px #fff,
		1300px 1610px #fff,
		1450px 434px #fff,
		543px 1609px #fff,
		1744px 219px #fff,
		1771px 851px #fff,
		868px 1300px #fff,
		393px 857px #fff,
		373px 1387px #fff,
		553px 86px #fff,
		825px 398px #fff,
		460px 1749px #fff,
		878px 170px #fff,
		255px 1611px #fff,
		1700px 1956px #fff,
		1342px 712px #fff,
		572px 1687px #fff,
		1390px 1015px #fff,
		1434px 291px #fff,
		490px 1207px #fff,
		1911px 1072px #fff,
		1618px 1305px #fff,
		93px 1025px #fff,
		1807px 803px #fff,
		1886px 587px #fff,
		950px 1595px #fff,
		483px 1546px #fff,
		1344px 603px #fff,
		1397px 1151px #fff,
		1555px 466px #fff,
		426px 1098px #fff,
		829px 1776px #fff,
		1581px 478px #fff,
		88px 1310px #fff,
		822px 1548px #fff,
		177px 1630px #fff,
		508px 1842px #fff,
		1012px 347px #fff,
		1312px 1060px #fff,
		295px 92px #fff,
		1335px 742px #fff,
		1348px 808px #fff,
		1030px 297px #fff,
		1112px 1455px #fff,
		685px 1324px #fff,
		553px 13px #fff,
		278px 785px #fff,
		154px 1379px #fff,
		1080px 1866px #fff,
		1400px 1029px #fff,
		1000px 107px #fff,
		750px 1747px #fff,
		687px 851px #fff,
		392px 1174px #fff,
		1462px 1369px #fff,
		1972px 1558px #fff,
		387px 698px #fff,
		911px 555px #fff,
		1994px 614px #fff,
		75px 1898px #fff,
		981px 1111px #fff,
		228px 1901px #fff,
		1980px 716px #fff,
		135px 582px #fff,
		1890px 1026px #fff,
		1221px 810px #fff,
		1669px 717px #fff,
		1074px 941px #fff,
		269px 1349px #fff,
		222px 32px #fff,
		1438px 966px #fff,
		1945px 102px #fff,
		1008px 1887px #fff,
		404px 671px #fff,
		1452px 716px #fff,
		935px 347px #fff,
		1672px 846px #fff,
		1485px 1801px #fff,
		629px 246px #fff,
		376px 1556px #fff,
		628px 849px #fff,
		511px 434px #fff,
		333px 1815px #fff,
		1027px 563px #fff,
		1663px 1474px #fff,
		103px 124px #fff,
		996px 242px #fff,
		493px 271px #fff,
		490px 1894px #fff,
		561px 1984px #fff,
		1850px 876px #fff,
		766px 1588px #fff,
		804px 1948px #fff,
		1559px 154px #fff,
		758px 1005px #fff,
		657px 383px #fff,
		52px 1547px #fff,
		789px 1949px #fff,
		1139px 71px #fff,
		1151px 1145px #fff,
		363px 1816px #fff,
		1929px 1125px #fff,
		1648px 386px #fff,
		411px 1365px #fff,
		1244px 160px #fff,
		689px 1691px #fff,
		545px 846px #fff,
		1325px 648px #fff,
		498px 1528px #fff,
		1549px 1468px #fff,
		1589px 77px #fff,
		644px 1883px #fff,
		75px 470px #fff,
		925px 954px #fff,
		591px 889px #fff,
		1926px 108px #fff,
		1567px 1547px #fff,
		596px 362px #fff,
		1885px 723px #fff,
		135px 671px #fff,
		178px 1929px #fff,
		1748px 658px #fff,
		1504px 625px #fff,
		1806px 1781px #fff,
		1462px 1014px #fff,
		1373px 1402px #fff,
		802px 496px #fff,
		1612px 1731px #fff,
		1035px 458px #fff,
		1555px 543px #fff,
		818px 1344px #fff,
		1526px 1253px #fff,
		1552px 1391px #fff,
		679px 691px #fff,
		960px 1654px #fff,
		384px 181px #fff,
		823px 1579px #fff,
		446px 112px #fff,
		795px 536px #fff,
		1153px 44px #fff,
		879px 1437px #fff,
		1539px 1672px #fff,
		1553px 110px #fff,
		1993px 847px #fff,
		275px 1258px #fff,
		638px 1927px #fff,
		191px 838px #fff,
		700px 1109px #fff,
		407px 1162px #fff,
		382px 650px #fff,
		908px 1729px #fff,
		1681px 1288px #fff,
		1591px 1134px #fff,
		1343px 1945px #fff,
		298px 891px #fff,
		590px 1996px #fff,
		1079px 1712px #fff,
		94px 915px #fff,
		682px 1417px #fff,
		1311px 179px #fff,
		967px 1717px #fff,
		1680px 2000px #fff,
		962px 631px #fff,
		1755px 262px #fff,
		1305px 950px #fff,
		1290px 1811px #fff,
		977px 1874px #fff,
		251px 300px #fff,
		936px 71px #fff,
		1870px 883px #fff,
		14px 1238px #fff,
		626px 763px #fff,
		130px 437px #fff,
		1692px 1819px #fff,
		556px 741px #fff,
		1482px 50px #fff,
		1493px 1214px #fff,
		1042px 609px #fff,
		1096px 1559px #fff,
		1744px 1553px #fff,
		1974px 968px #fff,
		1677px 763px #fff,
		1947px 652px #fff,
		541px 1507px #fff,
		1719px 1070px #fff,
		1px 1322px #fff,
		237px 1633px #fff,
		759px 703px #fff,
		356px 598px #fff,
		958px 1387px #fff,
		1025px 668px #fff,
		474px 1883px #fff,
		1942px 1112px #fff,
		948px 1353px #fff,
		127px 1404px #fff,
		1764px 845px #fff,
		1387px 41px #fff,
		1187px 1064px #fff,
		500px 1140px #fff,
		1392px 341px #fff,
		3px 1653px #fff,
		486px 1432px #fff,
		741px 1540px #fff,
		140px 1022px #fff,
		530px 1054px #fff,
		1203px 1535px #fff,
		1624px 1756px #fff,
		1048px 1816px #fff,
		105px 323px #fff,
		1442px 85px #fff,
		99px 33px #fff,
		640px 941px #fff,
		55px 1912px #fff,
		830px 87px #fff,
		359px 704px #fff,
		311px 1036px #fff,
		517px 437px #fff,
		1436px 1928px #fff,
		174px 762px #fff,
		1499px 156px #fff,
		137px 300px #fff,
		1019px 1487px #fff,
		204px 390px #fff,
		562px 628px #fff,
		1894px 352px #fff,
		1047px 427px #fff,
		1279px 1897px #fff,
		581px 1023px #fff,
		1317px 1983px #fff,
		1419px 1957px #fff,
		476px 149px #fff,
		1555px 988px #fff,
		891px 176px #fff,
		1625px 1098px #fff,
		306px 1427px #fff,
		1899px 999px #fff;
}

.stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow:
		1795px 30px #fff,
		1726px 1779px #fff,
		1393px 985px #fff,
		1272px 1054px #fff,
		53px 39px #fff,
		1401px 1752px #fff,
		301px 1531px #fff,
		1967px 880px #fff,
		1393px 852px #fff,
		1512px 1887px #fff,
		1589px 841px #fff,
		1664px 186px #fff,
		1380px 1746px #fff,
		79px 1966px #fff,
		1143px 1569px #fff,
		96px 1546px #fff,
		853px 1446px #fff,
		1892px 317px #fff,
		701px 833px #fff,
		1412px 835px #fff,
		266px 1892px #fff,
		373px 200px #fff,
		601px 963px #fff,
		667px 501px #fff,
		1155px 224px #fff,
		458px 808px #fff,
		1597px 1590px #fff,
		1795px 677px #fff,
		1868px 764px #fff,
		23px 465px #fff,
		1696px 1595px #fff,
		1327px 1248px #fff,
		1476px 562px #fff,
		1691px 1272px #fff,
		765px 1959px #fff,
		642px 899px #fff,
		1484px 1010px #fff,
		1283px 1957px #fff,
		247px 1293px #fff,
		802px 821px #fff,
		1419px 1340px #fff,
		1431px 722px #fff,
		1988px 1205px #fff,
		1724px 571px #fff,
		622px 1069px #fff,
		135px 618px #fff,
		589px 438px #fff,
		1712px 1932px #fff,
		724px 1466px #fff,
		1583px 1015px #fff,
		1201px 527px #fff,
		1126px 1184px #fff,
		1283px 563px #fff,
		1833px 1488px #fff,
		540px 1045px #fff,
		466px 561px #fff,
		176px 1011px #fff,
		990px 914px #fff,
		580px 1871px #fff,
		317px 1263px #fff,
		190px 743px #fff,
		1801px 31px #fff,
		688px 434px #fff,
		1455px 416px #fff,
		595px 797px #fff,
		1230px 1564px #fff,
		1100px 1015px #fff,
		1544px 26px #fff,
		1966px 1041px #fff,
		1881px 695px #fff,
		571px 928px #fff,
		803px 186px #fff,
		1229px 826px #fff,
		917px 668px #fff,
		1870px 1279px #fff,
		1611px 1572px #fff,
		1609px 1641px #fff,
		286px 1815px #fff,
		1731px 408px #fff,
		785px 745px #fff,
		280px 893px #fff,
		29px 515px #fff,
		183px 131px #fff,
		1058px 1613px #fff,
		1625px 790px #fff,
		1820px 1322px #fff,
		245px 547px #fff,
		1227px 171px #fff,
		145px 678px #fff,
		816px 791px #fff,
		629px 1925px #fff,
		1865px 922px #fff,
		949px 84px #fff,
		1598px 822px #fff,
		1623px 1988px #fff,
		876px 1963px #fff,
		1925px 732px #fff,
		1064px 1417px #fff,
		279px 942px #fff,
		777px 1752px #fff,
		1644px 1450px #fff,
		8px 454px #fff,
		1191px 632px #fff,
		577px 1889px #fff,
		1086px 192px #fff,
		1188px 129px #fff,
		1491px 5px #fff,
		1730px 1604px #fff,
		1039px 402px #fff,
		1082px 212px #fff,
		1837px 1653px #fff,
		1854px 480px #fff,
		875px 208px #fff,
		1238px 655px #fff,
		1036px 642px #fff,
		181px 318px #fff,
		1089px 369px #fff,
		1865px 1327px #fff,
		1141px 1327px #fff,
		188px 888px #fff,
		1980px 644px #fff,
		1108px 105px #fff,
		1995px 1172px #fff,
		599px 858px #fff,
		1288px 1874px #fff,
		777px 1426px #fff,
		1950px 1217px #fff,
		2000px 1792px #fff,
		654px 166px #fff,
		1728px 1950px #fff,
		740px 328px #fff,
		1939px 868px #fff,
		384px 1426px #fff,
		1774px 1948px #fff,
		1666px 347px #fff,
		307px 610px #fff,
		1084px 1226px #fff,
		179px 702px #fff,
		538px 750px #fff,
		1188px 1098px #fff,
		1004px 1364px #fff,
		722px 1477px #fff,
		1359px 1097px #fff,
		16px 1471px #fff,
		1673px 1291px #fff,
		63px 1219px #fff,
		537px 511px #fff,
		332px 1286px #fff,
		1112px 797px #fff,
		1650px 1121px #fff,
		672px 1848px #fff,
		776px 1654px #fff,
		1698px 1259px #fff,
		1560px 1740px #fff,
		1166px 1755px #fff,
		72px 418px #fff,
		867px 748px #fff,
		668px 1973px #fff,
		989px 564px #fff,
		706px 202px #fff,
		1388px 593px #fff,
		503px 519px #fff,
		820px 1607px #fff,
		751px 1755px #fff,
		1478px 799px #fff,
		1091px 657px #fff,
		1274px 488px #fff,
		1962px 1281px #fff,
		491px 1551px #fff,
		227px 307px #fff,
		486px 344px #fff,
		1722px 841px #fff,
		1007px 1428px #fff,
		1804px 72px #fff,
		1386px 1958px #fff,
		153px 1767px #fff,
		519px 1754px #fff,
		202px 1525px #fff,
		679px 587px #fff,
		868px 712px #fff,
		481px 590px #fff,
		1440px 1463px #fff,
		671px 1698px #fff,
		1556px 1937px #fff,
		179px 1869px #fff,
		1031px 499px #fff,
		1671px 1088px #fff,
		316px 1563px #fff,
		957px 928px #fff,
		292px 619px #fff,
		1505px 1617px #fff,
		1120px 426px #fff,
		466px 849px #fff,
		1959px 1156px #fff,
		547px 1097px #fff,
		1482px 546px #fff,
		957px 1016px #fff,
		1862px 1305px #fff,
		48px 251px #fff,
		1895px 265px #fff;
}
.stars2:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow:
		1795px 30px #fff,
		1726px 1779px #fff,
		1393px 985px #fff,
		1272px 1054px #fff,
		53px 39px #fff,
		1401px 1752px #fff,
		301px 1531px #fff,
		1967px 880px #fff,
		1393px 852px #fff,
		1512px 1887px #fff,
		1589px 841px #fff,
		1664px 186px #fff,
		1380px 1746px #fff,
		79px 1966px #fff,
		1143px 1569px #fff,
		96px 1546px #fff,
		853px 1446px #fff,
		1892px 317px #fff,
		701px 833px #fff,
		1412px 835px #fff,
		266px 1892px #fff,
		373px 200px #fff,
		601px 963px #fff,
		667px 501px #fff,
		1155px 224px #fff,
		458px 808px #fff,
		1597px 1590px #fff,
		1795px 677px #fff,
		1868px 764px #fff,
		23px 465px #fff,
		1696px 1595px #fff,
		1327px 1248px #fff,
		1476px 562px #fff,
		1691px 1272px #fff,
		765px 1959px #fff,
		642px 899px #fff,
		1484px 1010px #fff,
		1283px 1957px #fff,
		247px 1293px #fff,
		802px 821px #fff,
		1419px 1340px #fff,
		1431px 722px #fff,
		1988px 1205px #fff,
		1724px 571px #fff,
		622px 1069px #fff,
		135px 618px #fff,
		589px 438px #fff,
		1712px 1932px #fff,
		724px 1466px #fff,
		1583px 1015px #fff,
		1201px 527px #fff,
		1126px 1184px #fff,
		1283px 563px #fff,
		1833px 1488px #fff,
		540px 1045px #fff,
		466px 561px #fff,
		176px 1011px #fff,
		990px 914px #fff,
		580px 1871px #fff,
		317px 1263px #fff,
		190px 743px #fff,
		1801px 31px #fff,
		688px 434px #fff,
		1455px 416px #fff,
		595px 797px #fff,
		1230px 1564px #fff,
		1100px 1015px #fff,
		1544px 26px #fff,
		1966px 1041px #fff,
		1881px 695px #fff,
		571px 928px #fff,
		803px 186px #fff,
		1229px 826px #fff,
		917px 668px #fff,
		1870px 1279px #fff,
		1611px 1572px #fff,
		1609px 1641px #fff,
		286px 1815px #fff,
		1731px 408px #fff,
		785px 745px #fff,
		280px 893px #fff,
		29px 515px #fff,
		183px 131px #fff,
		1058px 1613px #fff,
		1625px 790px #fff,
		1820px 1322px #fff,
		245px 547px #fff,
		1227px 171px #fff,
		145px 678px #fff,
		816px 791px #fff,
		629px 1925px #fff,
		1865px 922px #fff,
		949px 84px #fff,
		1598px 822px #fff,
		1623px 1988px #fff,
		876px 1963px #fff,
		1925px 732px #fff,
		1064px 1417px #fff,
		279px 942px #fff,
		777px 1752px #fff,
		1644px 1450px #fff,
		8px 454px #fff,
		1191px 632px #fff,
		577px 1889px #fff,
		1086px 192px #fff,
		1188px 129px #fff,
		1491px 5px #fff,
		1730px 1604px #fff,
		1039px 402px #fff,
		1082px 212px #fff,
		1837px 1653px #fff,
		1854px 480px #fff,
		875px 208px #fff,
		1238px 655px #fff,
		1036px 642px #fff,
		181px 318px #fff,
		1089px 369px #fff,
		1865px 1327px #fff,
		1141px 1327px #fff,
		188px 888px #fff,
		1980px 644px #fff,
		1108px 105px #fff,
		1995px 1172px #fff,
		599px 858px #fff,
		1288px 1874px #fff,
		777px 1426px #fff,
		1950px 1217px #fff,
		2000px 1792px #fff,
		654px 166px #fff,
		1728px 1950px #fff,
		740px 328px #fff,
		1939px 868px #fff,
		384px 1426px #fff,
		1774px 1948px #fff,
		1666px 347px #fff,
		307px 610px #fff,
		1084px 1226px #fff,
		179px 702px #fff,
		538px 750px #fff,
		1188px 1098px #fff,
		1004px 1364px #fff,
		722px 1477px #fff,
		1359px 1097px #fff,
		16px 1471px #fff,
		1673px 1291px #fff,
		63px 1219px #fff,
		537px 511px #fff,
		332px 1286px #fff,
		1112px 797px #fff,
		1650px 1121px #fff,
		672px 1848px #fff,
		776px 1654px #fff,
		1698px 1259px #fff,
		1560px 1740px #fff,
		1166px 1755px #fff,
		72px 418px #fff,
		867px 748px #fff,
		668px 1973px #fff,
		989px 564px #fff,
		706px 202px #fff,
		1388px 593px #fff,
		503px 519px #fff,
		820px 1607px #fff,
		751px 1755px #fff,
		1478px 799px #fff,
		1091px 657px #fff,
		1274px 488px #fff,
		1962px 1281px #fff,
		491px 1551px #fff,
		227px 307px #fff,
		486px 344px #fff,
		1722px 841px #fff,
		1007px 1428px #fff,
		1804px 72px #fff,
		1386px 1958px #fff,
		153px 1767px #fff,
		519px 1754px #fff,
		202px 1525px #fff,
		679px 587px #fff,
		868px 712px #fff,
		481px 590px #fff,
		1440px 1463px #fff,
		671px 1698px #fff,
		1556px 1937px #fff,
		179px 1869px #fff,
		1031px 499px #fff,
		1671px 1088px #fff,
		316px 1563px #fff,
		957px 928px #fff,
		292px 619px #fff,
		1505px 1617px #fff,
		1120px 426px #fff,
		466px 849px #fff,
		1959px 1156px #fff,
		547px 1097px #fff,
		1482px 546px #fff,
		957px 1016px #fff,
		1862px 1305px #fff,
		48px 251px #fff,
		1895px 265px #fff;
}

.stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	/* animation: animateUp 150s linear infinite; */
	box-shadow:
		15px 1809px #fff,
		680px 1541px #fff,
		774px 373px #fff,
		145px 1814px #fff,
		1850px 433px #fff,
		1073px 1180px #fff,
		1134px 655px #fff,
		983px 935px #fff,
		1440px 799px #fff,
		1924px 710px #fff,
		203px 968px #fff,
		1350px 1615px #fff,
		1593px 729px #fff,
		374px 1949px #fff,
		331px 1852px #fff,
		1893px 1446px #fff,
		753px 463px #fff,
		335px 52px #fff,
		68px 942px #fff,
		1154px 291px #fff,
		1336px 1873px #fff,
		1569px 224px #fff,
		426px 319px #fff,
		201px 1066px #fff,
		1520px 1370px #fff,
		10px 1764px #fff,
		1129px 668px #fff,
		725px 928px #fff,
		1216px 162px #fff,
		1027px 606px #fff,
		418px 1034px #fff,
		292px 873px #fff,
		1284px 1583px #fff,
		1146px 1643px #fff,
		385px 947px #fff,
		1255px 981px #fff,
		1592px 1002px #fff,
		310px 952px #fff,
		185px 1019px #fff,
		702px 1354px #fff,
		854px 102px #fff,
		1390px 981px #fff,
		7px 80px #fff,
		935px 210px #fff,
		1534px 27px #fff,
		359px 1853px #fff,
		594px 672px #fff,
		894px 678px #fff,
		63px 1194px #fff,
		1034px 214px #fff,
		1293px 866px #fff,
		283px 1080px #fff,
		1360px 1223px #fff,
		1717px 1803px #fff,
		1811px 752px #fff,
		803px 1445px #fff,
		1235px 474px #fff,
		582px 1404px #fff,
		1612px 503px #fff,
		1302px 1384px #fff,
		1984px 849px #fff,
		228px 240px #fff,
		1331px 217px #fff,
		24px 118px #fff,
		1660px 1735px #fff,
		137px 1753px #fff,
		759px 1775px #fff,
		653px 700px #fff,
		719px 1790px #fff,
		480px 586px #fff,
		1996px 343px #fff,
		1457px 34px #fff,
		1503px 1884px #fff,
		246px 949px #fff,
		1363px 312px #fff,
		210px 1662px #fff,
		1606px 1505px #fff,
		1312px 335px #fff,
		1905px 1123px #fff,
		1989px 975px #fff,
		1558px 91px #fff,
		660px 1079px #fff,
		467px 1996px #fff,
		1574px 1305px #fff,
		850px 292px #fff,
		1497px 178px #fff,
		1426px 407px #fff,
		1800px 378px #fff,
		451px 641px #fff,
		457px 662px #fff,
		719px 886px #fff,
		606px 751px #fff,
		1950px 949px #fff,
		315px 901px #fff,
		569px 1397px #fff,
		1219px 1722px #fff,
		922px 515px #fff,
		1219px 1287px #fff,
		180px 808px #fff,
		970px 1931px #fff;
}
.stars3:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow:
		15px 1809px #fff,
		680px 1541px #fff,
		774px 373px #fff,
		145px 1814px #fff,
		1850px 433px #fff,
		1073px 1180px #fff,
		1134px 655px #fff,
		983px 935px #fff,
		1440px 799px #fff,
		1924px 710px #fff,
		203px 968px #fff,
		1350px 1615px #fff,
		1593px 729px #fff,
		374px 1949px #fff,
		331px 1852px #fff,
		1893px 1446px #fff,
		753px 463px #fff,
		335px 52px #fff,
		68px 942px #fff,
		1154px 291px #fff,
		1336px 1873px #fff,
		1569px 224px #fff,
		426px 319px #fff,
		201px 1066px #fff,
		1520px 1370px #fff,
		10px 1764px #fff,
		1129px 668px #fff,
		725px 928px #fff,
		1216px 162px #fff,
		1027px 606px #fff,
		418px 1034px #fff,
		292px 873px #fff,
		1284px 1583px #fff,
		1146px 1643px #fff,
		385px 947px #fff,
		1255px 981px #fff,
		1592px 1002px #fff,
		310px 952px #fff,
		185px 1019px #fff,
		702px 1354px #fff,
		854px 102px #fff,
		1390px 981px #fff,
		7px 80px #fff,
		935px 210px #fff,
		1534px 27px #fff,
		359px 1853px #fff,
		594px 672px #fff,
		894px 678px #fff,
		63px 1194px #fff,
		1034px 214px #fff,
		1293px 866px #fff,
		283px 1080px #fff,
		1360px 1223px #fff,
		1717px 1803px #fff,
		1811px 752px #fff,
		803px 1445px #fff,
		1235px 474px #fff,
		582px 1404px #fff,
		1612px 503px #fff,
		1302px 1384px #fff,
		1984px 849px #fff,
		228px 240px #fff,
		1331px 217px #fff,
		24px 118px #fff,
		1660px 1735px #fff,
		137px 1753px #fff,
		759px 1775px #fff,
		653px 700px #fff,
		719px 1790px #fff,
		480px 586px #fff,
		1996px 343px #fff,
		1457px 34px #fff,
		1503px 1884px #fff,
		246px 949px #fff,
		1363px 312px #fff,
		210px 1662px #fff,
		1606px 1505px #fff,
		1312px 335px #fff,
		1905px 1123px #fff,
		1989px 975px #fff,
		1558px 91px #fff,
		660px 1079px #fff,
		467px 1996px #fff,
		1574px 1305px #fff,
		850px 292px #fff,
		1497px 178px #fff,
		1426px 407px #fff,
		1800px 378px #fff,
		451px 641px #fff,
		457px 662px #fff,
		719px 886px #fff,
		606px 751px #fff,
		1950px 949px #fff,
		315px 901px #fff,
		569px 1397px #fff,
		1219px 1722px #fff,
		922px 515px #fff,
		1219px 1287px #fff,
		180px 808px #fff,
		970px 1931px #fff;
}

@keyframes animateUp {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}

@keyframes animateDown {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(2000px);
	}
}

@keyframes animateLeft {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(-2000px);
	}
}

@keyframes animateRight {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(2000px);
	}
}
