.masonry {
	display: grid;
	grid-template-columns: repeat(2, minmax(100px, 1fr));
	@apply gap-1 text-sm;
}

@media (min-width: 768px) {
	.masonry {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		@apply gap-2 text-base;
	}
}

@media (min-width: 1280px) {
	.masonry {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}

	.perspective {
		transform: perspective(30cm) rotateY(-5deg);
		transform-style: preserve-3d;
		transform-origin: right;
	}
}

.grid-item {
	--from: rgba(255, 255, 255, 0);
	--to: rgb(var(--background));

	background-size: 500% 500%;
	background-image: linear-gradient(
		to bottom right,
		var(--from),
		var(--to),
		rgb(var(--background)),
		rgb(var(--background)),
		rgb(var(--foreground))
	);
	background-position: 66%;
	@apply transition-all rounded-lg flex justify-center items-center md:p-8 p-4 row-span-2 md:row-span-1;
}

.grid-item:hover {
	scale: 95%;
	background-position: 0 0;
}

.grid-item:nth-child(7n + 1) {
	--from: rgb(141, 141, 225);
	--to: rgb(70, 101, 202);
	@apply col-span-2 row-span-1;
}

.grid-item:nth-child(7n + 2) {
	--from: rgb(214, 141, 225);
	--to: rgb(156, 70, 202);
	@apply col-span-1 row-span-2;
}

.grid-item:nth-child(7n + 4) {
	@apply col-span-1 row-span-2;
}

.grid-item:nth-child(7n + 6) {
	@apply md:col-span-1 col-span-2 row-span-1;
}

.grid-item:nth-child(7n + 7) {
	@apply md:col-span-3 col-span-2 row-span-1;
}
