.grid-item-inner {
	background-size: 500% 500%;
	background-image: linear-gradient(
		to bottom right,
		var(--gradient-from),
		var(--gradient-to),
		rgb(var(--background)),
		rgb(var(--background)),
		rgb(var(--foreground))
	);
	background-position: 66%;
}

.grid-item-inner:hover {
	background-position: 0 0;
}

.grid-item {
	--gradient-from: rgb(var(--background));
	--gradient-to: rgb(var(--background-dark));
	--spotlight-from: rgb(var(--foreground));
	@apply row-span-2 md:row-span-1;
}

.grid-item:nth-child(7n + 1) {
	--gradient-from: rgb(141, 141, 225);
	--gradient-to: rgb(70, 101, 202);
	--spotlight-from: var(--gradient-from);
	@apply col-span-2 row-span-1;
}

.grid-item:nth-child(7n + 2) {
	--gradient-from: rgb(214, 141, 225);
	--gradient-to: rgb(156, 70, 202);
	--spotlight-from: var(--gradient-from);
	@apply col-span-1 row-span-2;
}

.grid-item:nth-child(7n + 4) {
	@apply col-span-1 row-span-2;
}

.grid-item:nth-child(7n + 6) {
	@apply md:col-span-1 col-span-2 row-span-1;
}

.grid-item:nth-child(7n + 7) {
	@apply md:col-span-3 col-span-2 row-span-1;
}
