@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-background text-foreground overscroll-y-none;
}

/* this is too large for 16*10 laptop screens*/
h1 {
	@apply md:text-[8rem] sm:text-[5.65rem] text-[4rem];
}

h2 {
	@apply md:text-[5.65rem] sm:text-[4rem] text-[2.83rem];
}

h3 {
	@apply md:text-[2.83rem] sm:text-[2rem] text-[1.44rem];
}

h4 {
	@apply md:text-[2rem] sm:text-[1.44rem] text-[1.22rem];
}

p,
span {
	@apply text-base;
}
