/*
 * SPDX-FileCopyrightText: 2025 cod3ddot@proton.me
 *
 * SPDX-License-Identifier: Apache-2.0
 */

html {
    --scrollbar-gutter: 0px;

    &.lenis-stopped {
        --scrollbar-gutter: var(--scrollbar-width);
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--foreground) transparent;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
    border-radius: 10px;
    border: 3px solid transparent;
}

body {
    min-height: 100dvh;
    overscroll-behavior: none;
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-gutter: stable;
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function, cubic-bezier(0.4, 0, 0.2, 1)) /* cubic-bezier(0.4, 0, 0.2, 1) */);
    transition-duration: var(--tw-duration, var(--default-transition-duration, 150ms) /* 150ms */);
}

*::selection {
    background-color: var(--accent-yellow);
}

.dark {
    *::selection {
        background-color: var(--accent-blue);
    }
}

.carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    list-style: none;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    > li {
        scroll-snap-align: center;
    }

    /* Chrome 135+ */
    anchor-name: --carousel; /* define the anchor */
    scroll-marker-group: after;

    > li::scroll-marker {
        content: "";
        border-radius: 100%;
        width: 20px;
        height: 10px;
        background-color: var(--foreground);
        transform: scaleX(0.5); /* Start at half width */
        /* transform-origin: left center; */
        transition: all 0.2s ease-in-out;
    }

    > li::scroll-marker:target-current {
        transform: scaleX(1); /* Scale to full width */
        border-radius: 20px;
    }
}

/* Chrome 135+ */
.carousel::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 0;
  margin-block-start: 1rem;
}
