html {
    --scrollbar-gutter: 0px;

    &.lenis-stopped {
        --scrollbar-gutter: var(--scrollbar-width);
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--foreground) transparent;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
    border-radius: 10px;
    border: 3px solid transparent;
}

body {
    min-height: 100vh;
    overscroll-behavior: none;
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-gutter: stable;
}

*::selection {
    background-color: var(--accent-yellow);
}

.dark {
    *::selection {
        background-color: var(--accent-blue);
    }
}
