@reference "./tailwind.css";

[data-callout] {
	background-color: rgb(from var(--color) r g b / 0.2);
	border-color: var(--color);

	@apply border-y-2 p-4 sm:p-6 md:mx-10 md:rounded-xl md:border-2;

	[data-callout-title] {
		@apply text-foreground mb-4 font-bold;
	}

	[data-callout-body] {
		:last-child {
			margin: 0px;
		}
	}
}

[data-callout-type="warning"] {
	--color: var(--yellow);
}

[data-callout-type="info"] {
	--color: var(--blue);
}

[data-callout-type="tip"] {
	--color: var(--green);
}

[data-callout-type="note"] {
	--color: var(--green);
}

[data-callout-type="error"] {
	--color: var(--red);
}

.code-line.inserted {
	background-color: var(--green);
}

.code-line.deleted {
	background-color: var(--red);
}

.highlighted-code-line {
	background-color: var(--color-highlighted-line);
	border-left: 4px solid var(--color-highlighted-line-indicator);
}

.numbered-code-line::before {
	content: attr(data-line-number);

	margin-left: -12px;
	margin-right: 24px;
	width: 2ch;
	text-align: right;
	display: inline-block;
}

@media screen and (max-width: 768px) {
	.numbered-code-line::before {
		content: "";
		margin: 0;
		width: 0;
	}
}

@media print {
	.numbered-code-line::before {
		content: "";
		margin: 0;
		width: 0;
	}
}

/*
    Atom One Dark by Daniel Gamage
    Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
*/
.hljs-comment,
.hljs-quote {
	color: #5c6370;
	font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
	@apply text-[#9b37ba] dark:text-[#c678dd];
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
	@apply text-[#c53e49] dark:text-[#e06c75];
}
.hljs-literal {
	@apply text-[#54acb8] dark:text-[#56b6c2];
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
	@apply text-[#577f1f] dark:text-[#98c379];
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
	@apply text-[#AB5709] dark:text-[#d19a66];
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
	@apply text-[#0469BB] dark:text-[#61aeee];
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
	@apply text-[#c53e49] dark:text-[#e6c07b];
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: bold;
}
.hljs-link {
	text-decoration: underline;
}
