.mon1 {
	--c: #40a0a0;
}
.mon2 {
	--c: #20a080;
}
.mon3 {
	--c: #20c0a0;
}
.mon4 {
	--c: #ff6020;
}
.mon5 {
	--c: #c04040;
}
.mon6 {
	--c: #e0c060;
}
.mon7 {
	--c: #60a0a0;
}
.mon8 {
	--c: #80a0ff;
}
.mon9 {
	--c: #6080c0;
}
.mon10 {
	--c: #40a040;
}
.mon11 {
	--c: #608060;
}
.mon12 {
	--c: #e0e0ff;
}
.mon13 {
	--c: #c08020;
}
.mon14 {
	--c: #c0a020;
}
.mon15 {
	--c: #202020;
}
.mon16 {
	--c: #a06060;
}
.mon17 {
	--c: #ffe080;
}
.mon18 {
	--c: #e08040;
}
.mon19 {
	--c: #c080c0;
}
.mon20 {
	--c: #e0c080;
}
.mon21 {
	--c: #e06040;
}
.mon22 {
	--c: #c060c0;
}
.mon23 {
	--c: #a080c0;
}
.mon24 {
	--c: #ffe060;
}
.mon25 {
	--c: #ffa020;
}
.mon26 {
	--c: #c0c000;
}
.mon27 {
	--c: #806020;
}
.mon28 {
	--c: #80c0c0;
}
.mon29 {
	--c: #6080a0;
}
.mon30 {
	--c: #a060c0;
}
.mon31 {
	--c: #e080e0;
}
.mon32 {
	--c: #ffe0c0;
}
.mon33 {
	--c: #ffc0c0;
}
.mon34 {
	--c: #c04020;
}
.mon35 {
	--c: #ffa0a0;
}
.mon36 {
	--c: #ff80a0;
}
.mon37 {
	--c: #80c0e0;
}
.mon38 {
	--c: #a060a0;
}
.mon39 {
	--c: #80a040;
}
.mon40 {
	--c: #804020;
}
.mon41 {
	--c: #e04060;
}
.mon42 {
	--c: #ffa060;
}
.mon43 {
	--c: #e04040;
}
.mon44 {
	--c: #8060a0;
}
.mon45 {
	--c: #ffe0ff;
}
.mon46 {
	--c: #c0a080;
}
.mon47 {
	--c: #c08040;
}
.mon48 {
	--c: #ffc060;
}
.mon49 {
	--c: #ffe040;
}
.mon50 {
	--c: #80a0e0;
}
.mon51 {
	--c: #e0a0a0;
}
.mon52 {
	--c: #e0c0a0;
}
.mon53 {
	--c: #ffffa0;
}
.mon54 {
	--c: #e0a080;
}
.mon55 {
	--c: #406080;
}
.mon56 {
	--c: #ffe020;
}
.mon57 {
	--c: #a08000;
}
.mon58 {
	--c: #a0c0c0;
}
.mon59 {
	--c: #c0a0e0;
}
.mon60 {
	--c: #8080a0;
}
.mon61 {
	--c: #604000;
}
.mon62 {
	--c: #60c0e0;
}
.mon63 {
	--c: #a0a080;
}
.mon64 {
	--c: #404040;
}
.mon65 {
	--c: #a08060;
}
.mon66 {
	--c: #e06020;
}
.mon67 {
	--c: #e06080;
}
.mon68 {
	--c: #80c0a0;
}
.mon69 {
	--c: #e0e0a0;
}
.mon70 {
	--c: #e0c0e0;
}
.mon71 {
	--c: #a040a0;
}
.mon72 {
	--c: #e0a0c0;
}
.mon73 {
	--c: #c0c0c0;
}
.mon74 {
	--c: #ffe000;
}
.mon75 {
	--c: #c06060;
}
.mon76 {
	--c: #c02040;
}
.mon77 {
	--c: #ffa080;
}
.mon78 {
	--c: #c0c080;
}
.mon79 {
	--c: #e08060;
}
.mon80 {
	--c: #e0e060;
}
.mon81 {
	--c: #606060;
}
.mon82 {
	--c: #ffe0e0;
}
.mon83 {
	--c: #4080a0;
}
.mon84 {
	--c: #604020;
}
.mon85 {
	--c: #60a0c0;
}
.mon86 {
	--c: #e04020;
}
.mon87 {
	--c: #e0e040;
}
.mon88 {
	--c: #c0c0e0;
}
.mon89 {
	--c: #80c080;
}
.mon90 {
	--c: #ff4060;
}
.mon91 {
	--c: #ff4040;
}
.mon92 {
	--c: #e0a040;
}
.mon93 {
	--c: #2080a0;
}
.mon94 {
	--c: #c080e0;
}
.mon95 {
	--c: #a06040;
}
.mon96 {
	--c: #ffe0a0;
}
.mon97 {
	--c: #0080a0;
}
.mon98 {
	--c: #40a0c0;
}
.mon99 {
	--c: #604080;
}
.mon100 {
	--c: #60a0ff;
}
.mon101 {
	--c: #e0a000;
}
.mon102 {
	--c: #8080e0;
}
.mon103 {
	--c: #6080e0;
}
.mon104 {
	--c: #ffc0e0;
}
.mon105 {
	--c: #80e040;
}
.mon106 {
	--c: #ff6080;
}
.mon107 {
	--c: #e00000;
}
.mon108 {
	--c: #ff6000;
}
.mon109 {
	--c: #60c0ff;
}
.mon110 {
	--c: #c08060;
}
.mon111 {
	--c: #002060;
}
.mon112 {
	--c: #a02060;
}
.mon113 {
	--c: #808080;
}
.mon114 {
	--c: #80c040;
}
.mon115 {
	--c: #60c040;
}
.mon116 {
	--c: #60a0e0;
}
.mon117 {
	--c: #c0a040;
}
.mon118 {
	--c: #60e040;
}
.mon119 {
	--c: #ffff00;
}
.mon120 {
	--c: #e0c000;
}
.mon121 {
	--c: #e0ffff;
}
.mon122 {
	--c: #80c0ff;
}
.mon123 {
	--c: #e0a0e0;
}
.mon124 {
	--c: #404060;
}
.mon125 {
	--c: #40a0e0;
}
.mon126 {
	--c: #204080;
}
.mon127 {
	--c: #ffa0c0;
}
.mon128 {
	--c: #a080a0;
}
.mon129 {
	--c: #a02020;
}
.mon130 {
	--c: #e0c040;
}
.mon131 {
	--c: #e0a060;
}
.mon132 {
	--c: #a06020;
}
.mon133 {
	--c: #a04020;
}
.mon134 {
	--c: #c02000;
}
.mon135 {
	--c: #4060a0;
}
.mon136 {
	--c: #a0c0e0;
}
.mon137 {
	--c: #a0a0a0;
}
.mon138 {
	--c: #a0e0ff;
}
.mon139 {
	--c: #a0e0e0;
}
.mon140 {
	--c: #e0e0e0;
}
.mon141 {
	--c: #e06060;
}
.mon142 {
	--c: #804000;
}
.mon143 {
	--c: #404020;
}
.mon144 {
	--c: #e0c0ff;
}
.mon145 {
	--c: #ffc040;
}
.mon146 {
	--c: #e08080;
}
.mon147 {
	--c: #c0a060;
}
.mon148 {
	--c: #a0c0a0;
}
.mon149 {
	--c: #80a0c0;
}
.mon150 {
	--c: #a0e060;
}
.mon151 {
	--c: #60a040;
}
.mon152 {
	--c: #80c060;
}
.mon153 {
	--c: #ff8040;
}
.mon154 {
	--c: #e0c0c0;
}
.mon155 {
	--c: #e02060;
}
.mon156 {
	--c: #60c060;
}
.mon157 {
	--c: #608040;
}
.mon158 {
	--c: #a0c060;
}
.mon159 {
	--c: #200000;
}
.mon160 {
	--c: #404080;
}
.mon161 {
	--c: #c06080;
}
.mon162 {
	--c: #000000;
}
.mon163 {
	--c: #e0e0c0;
}
.mon164 {
	--c: #60a060;
}
.mon165 {
	--c: #ffffe0;
}
.mon166 {
	--c: #a0a0e0;
}
.mon167 {
	--c: #4080e0;
}
.mon168 {
	--c: #6040a0;
}
.mon169 {
	--c: #80a0a0;
}
.mon170 {
	--c: #606040;
}
.mon171 {
	--c: #806060;
}
.mon172 {
	--c: #a0e0a0;
}
.mon173 {
	--c: #a080e0;
}
.mon174 {
	--c: #e0c020;
}
.mon175 {
	--c: #2060c0;
}
.mon176 {
	--c: #c0a0a0;
}
.mon177 {
	--c: #c0e080;
}
.mon178 {
	--c: #a0e080;
}
.mon179 {
	--c: #c08000;
}
.mon180 {
	--c: #40c0e0;
}
.mon181 {
	--c: #e06000;
}
.mon182 {
	--c: #c0c060;
}
.mon183 {
	--c: #c060a0;
}
.mon184 {
	--c: #606080;
}
.mon185 {
	--c: #8080c0;
}
.mon186 {
	--c: #408040;
}
.mon187 {
	--c: #a0a0ff;
}
.mon188 {
	--c: #4060c0;
}
.mon189 {
	--c: #e08000;
}
.mon190 {
	--c: #ff80c0;
}
.mon191 {
	--c: #c0c0a0;
}
.mon192 {
	--c: #e080a0;
}
.mon193 {
	--c: #c0e0ff;
}
.mon194 {
	--c: #408080;
}
.mon195 {
	--c: #e08020;
}
.mon196 {
	--c: #604040;
}
.mon197 {
	--c: #808060;
}
.mon198 {
	--c: #80e060;
}
.mon199 {
	--c: #80a080;
}
.mon200 {
	--c: #4080c0;
}
.mon201 {
	--c: #ffc000;
}
.mon202 {
	--c: #a060e0;
}
.mon203 {
	--c: #208080;
}
.mon204 {
	--c: #40c040;
}
.mon205 {
	--c: #6060e0;
}
.mon206 {
	--c: #6060a0;
}
.mon207 {
	--c: #6060c0;
}
.mon208 {
	--c: #2060a0;
}
.mon209 {
	--c: #806040;
}
.mon210 {
	--c: #202040;
}
.mon211 {
	--c: #c02080;
}
.mon212 {
	--c: #806080;
}
.mon213 {
	--c: #a0a0c0;
}
.mon214 {
	--c: #204060;
}
.mon215 {
	--c: #808000;
}
.mon216 {
	--c: #00c000;
}
.mon217 {
	--c: #20c040;
}
.mon218 {
	--c: #20a040;
}
.mon219 {
	--c: #60c0c0;
}
.mon220 {
	--c: #ffc020;
}
.mon221 {
	--c: #ffc080;
}
.mon222 {
	--c: #20a060;
}
.mon223 {
	--c: #20c0e0;
}
.mon224 {
	--c: #e080c0;
}
.mon225 {
	--c: #ffffff;
}
.mon226 {
	--c: #a04040;
}
.mon227 {
	--c: #802040;
}
.mon228 {
	--c: #00a0e0;
}
.mon229 {
	--c: #c0ffe0;
}
.mon230 {
	--c: #a0c000;
}
.mon231 {
	--c: #c0e020;
}
.mon232 {
	--c: #c04060;
}
.mon233 {
	--c: #a02040;
}
.mon234 {
	--c: #40a060;
}
.mon235 {
	--c: #804040;
}
.mon236 {
	--c: #60e060;
}
.mon237 {
	--c: #4080ff;
}
.mon238 {
	--c: #206040;
}
.mon239 {
	--c: #60c080;
}
.mon240 {
	--c: #c02060;
}
.mon241 {
	--c: #80e0ff;
}
.mon242 {
	--c: #40c0ff;
}
.mon243 {
	--c: #c0a000;
}
.mon244 {
	--c: #8060e0;
}
.mon245 {
	--c: #a0a060;
}
.mon246 {
	--c: #a0a020;
}
.mon247 {
	--c: #ffff80;
}
.mon248 {
	--c: #a08080;
}
.mon249 {
	--c: #20a0c0;
}
.mon250 {
	--c: #8040a0;
}
.mon251 {
	--c: #c0ffa0;
}
.mon252 {
	--c: #a0e040;
}
.mon253 {
	--c: #ff6040;
}
.mon254 {
	--c: #0060a0;
}
.mon255 {
	--c: #ff8080;
}
.mon256 {
	--c: #a0c0ff;
}
.mon257 {
	--c: #e060a0;
}
.mon258 {
	--c: #20c060;
}
.mon259 {
	--c: #a08040;
}
.mon260 {
	--c: #60e0ff;
}
.mon261 {
	--c: #ffffc0;
}
.mon262 {
	--c: #ffc0a0;
}
.mon263 {
	--c: #c0ffff;
}
.mon264 {
	--c: #00a080;
}
.mon265 {
	--c: #ff4020;
}
.mon266 {
	--c: #006060;
}
.mon267 {
	--c: #20c0ff;
}
.mon268 {
	--c: #c0e040;
}
.mon269 {
	--c: #c0e0e0;
}
.mon270 {
	--c: #60c0a0;
}
.mon271 {
	--c: #e04080;
}
.mon272 {
	--c: #406040;
}
.mon273 {
	--c: #8060c0;
}
.mon274 {
	--c: #20a0e0;
}
.mon275 {
	--c: #e0a020;
}
.mon276 {
	--c: #e0e080;
}
.mon277 {
	--c: #608080;
}
.mon278 {
	--c: #ff2040;
}
.mon279 {
	--c: #8040c0;
}
.mon280 {
	--c: #c080ff;
}
.mon281 {
	--c: #4040a0;
}
.mon282 {
	--c: #c06020;
}
.mon283 {
	--c: #c0c040;
}
.mon284 {
	--c: #e02040;
}
.mon285 {
	--c: #808040;
}
.mon286 {
	--c: #a040c0;
}
.mon287 {
	--c: #ffa000;
}
.mon288 {
	--c: #2060e0;
}
.mon289 {
	--c: #ff60a0;
}
.mon290 {
	--c: #008060;
}
.mon291 {
	--c: #4020c0;
}
.mon292 {
	--c: #e0e020;
}
.mon293 {
	--c: #402020;
}
.mon294 {
	--c: #a0c080;
}
.mon295 {
	--c: #e0ffe0;
}
.mon296 {
	--c: #60a020;
}
.mon297 {
	--c: #ffa040;
}
.mon298 {
	--c: #c0e060;
}
.mon299 {
	--c: #e02020;
}
.mon300 {
	--c: #c08080;
}
.mon301 {
	--c: #c06040;
}
.mon302 {
	--c: #60a080;
}
.mon303 {
	--c: #e020ff;
}
.mon304 {
	--c: #4060e0;
}
.mon305 {
	--c: #802080;
}
.mon306 {
	--c: #c080a0;
}
.mon307 {
	--c: #80ff80;
}
.mon308 {
	--c: #802020;
}
.mon309 {
	--c: #ff40c0;
}
.mon310 {
	--c: #406060;
}
.mon311 {
	--c: #408060;
}
.mon312 {
	--c: #202060;
}
