/*
 * SPDX-FileCopyrightText: 2025 cod3ddot@proton.me
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:root {
	--yellow: rgb(224, 191, 81);
	--purple: rgb(154, 58, 222);
	--blue: rgb(78, 89, 207);
	--green: rgb(80, 224, 80);
	--red: rgb(203, 39, 66);
	--black: rgb(0, 0, 0);

	--foreground: rgb(18, 18, 18);
	--background: rgb(230, 230, 230);
	--container: rgb(242, 242, 242);
	--accent-blue: var(--blue);
	--accent-yellow: var(--yellow);
}

.dark {
	--foreground: rgb(242, 242, 242);
	--background: rgb(40, 40, 40);
	--container: rgb(25, 25, 25);
}
